.membership_area {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.membership_form {
  width: 45vw;
  height: 50vh;
  background-color: #f7d894bb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 2px 2px #636e7277;
  padding: 100px 20px 100px 20px;
}

.member_area {
  display: flex;
}

.membership_title > p {
  font-size: 50px;
  color: #2d3436;
  font-family: 'Nanum Myeongjo', sans-serif;
  margin-bottom: 30px;
}
.member_area {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.member_area > p {
  font-size: 30px;
  color: #2d3436;
  font-family: 'Nanum Myeongjo', sans-serif;
  margin-left: 20px;
}

.member_area > input {
  margin-left: 20px;
  width: 13vw;
  height: 3vh;
  background-color: #f7d89400;
  font-family: 'Nanum Myeongjo', sans-serif;
  font-size: 25px;
  border: none;
  border-bottom: 0.5px solid black;
}
.member_btn {
  margin: 10px 10px 10px 10px;
  width: 15vw;
  height: 5vh;
  border-radius: 5px;
  font-family: 'Jua', sans-serif;
  font-size: 25px;
  margin-top: 30px;
  color: #2d3436;
  padding: 10px 0px 10px 0px;
  background-color: #fdcb6e6e;
  letter-spacing: 15px;
  border: 0.5px solid rgba(0, 0, 0, 0.322);
}
.member_area > input:hover {
  background-color: #c8d147a6;
}
.member_btn:hover {
  cursor: pointer;
  background-color: #fdcb6e;
}
