.todoList_area {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.time_area {
  flex: 3;
  height: 100vh;
  border: 1px solid black;
  box-sizing: border-box;
}

.todoList {
  flex: 4;
  height: 90vh;
  box-sizing: border-box;
  margin: 40px 0px 40px 0px;
  background-color: #dbac5480;
  box-shadow: 2px 2px 2px 2px #636e7277;
  border-radius: 10px;
}

.add_area {
  flex: 3;
  height: 100vh;
  border: 1px solid black;
  box-sizing: border-box;
}

.time {
  margin: 40px 0px 0px 40px;
}
.time > h2 {
  font-size: 80px;
  font-weight: bold;
}
