.todoList_area {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.time_area {
  flex: 3;
  height: 100vh;
  box-sizing: border-box;
}
.time {
  padding-left: 150px;
}
.time > h2 {
  font-family: 'Nanum Myeongjo', serif;
}

.todoList {
  flex: 3;
  height: 90vh;
  box-sizing: border-box;
  margin: 40px 0px 40px 0px;
  background-color: #f7d894bb;
  box-shadow: 1px 1px 2px 2px #636e7242;
}
.Todo_Add {
  height: 9vh;
  border-bottom: 0.5px solid rgba(160, 100, 21, 0.651);
}

.Todo_Add_Input {
  margin: 20px;
  height: 4.5vh;
  width: 31vw;
  border: none;
  background-color: #f7d894bb;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.192);
  font-size: 25px;
  font-family: 'Nanum Myeongjo', serif;
}

.add_area {
  flex: 3;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
}
.menu_area {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 5vh;
  margin-right: 5vw;
}
.allDelete {
  width: 5vw;
  height: 10vh;
  border-radius: 50px;
  font-family: 'Nanum Myeongjo', serif;
  cursor: pointer;
  background-color: #f7d894bb;
  border: 0.5px solid rgba(160, 100, 21, 0.651);
  //마우스 효과 일반
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.allDelete:hover {
  background-color: #f5ae14bb;
  color: white;
  border: none;
  //마우스 효과 호버
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.Todo_Get_Div {
  height: 5vh;
  //border-bottom: 0.5px solid rgba(53, 43, 18, 0.384);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-right: 20px;
  margin-left: 20px;
}
.getTodoBtn {
  background-color: #f1c973e5;
  width: 20vw;
  height: 5vh;
  border: none;
  font-size: 25px;
  font-family: 'Nanum Myeongjo', serif;
  cursor: pointer;
  letter-spacing: 15px;
  margin-top: 20px;
}
.getTodoBtn:hover {
  background-color: #f5ae14bb;
  color: white;
  border: none;
}

.Todo_Content_Div {
  height: 5vh;
  border-bottom: 0.5px solid rgba(53, 43, 18, 0.384);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 20px;
}
.Todo_Content {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 20px;
}
.Todo_Remove_Btn {
  background-color: #f7d894bb;
  width: 4vw;
  height: 3vh;
  border: none;
  font-weight: 500;
  font-size: 15px;
  font-family: 'Nanum Myeongjo', serif;
  border: 0.5px solid rgba(0, 0, 0, 0.199);
  border-radius: 5px;
  cursor: pointer;
  //마우스 효과 일반
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.2s ease-in-out;
}
.Todo_Remove_Btn:hover {
  background-color: #f5ae14bb;
  color: white;
  border: none;
  //마우스 효과 호버
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.time {
  margin: 40px 0px 0px 40px;
}
.time > h2 {
  font-size: 80px;
  font-weight: bold;
}
